@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,800;0,900;0,1000;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito", sans-serif;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

.quizPool input:checked + label {
  @apply bg-violet-500 text-white border-violet-700;
}

.quizPool input:checked + label span {
  @apply bg-violet-900 text-white border-violet-800;
}
